<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PVSWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.28.10.17:99/Service/PVSWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PVSWebServiceSoap"
                contract="PVSServiceReferences.PVSWebServiceSoap" name="PVSWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>